# **Activity 4.01 – optimizing memory usage by converting into the appropriate dtypes**

1. Open a Jupyter Notebook.
2. Import the pandas package.
3. Load the CSV file as a DataFrame.
4. Display the first 10 rows of the DataFrame.
5. Display the data types of each column in the DataFrame using the info() method.
6. Replace the missing values appropriately.
7. Count the number of distinct unique values for buying, maint, doors,
persons, lug_boot, safety, and class.
8. Convert the object columns into category columns wherever appropriate.
9. Finally, display the data types of each column in the DataFrame.

In [ ]:
!wget https://raw.githubusercontent.com/PacktWorkshops/The-Pandas-Workshop/master/Chapter04/Data/car.csv

--2023-06-12 20:12:55--  https://raw.githubusercontent.com/PacktWorkshops/The-Pandas-Workshop/master/Chapter04/Data/car.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 47865 (47K) [text/plain]
Saving to: ‘car.csv’

car.csv             100%[===================>]  46.74K  --.-KB/s    in 0.006s

2023-06-12 20:12:55 (7.63 MB/s) - ‘car.csv’ saved [47865/47865]

In [ ]:
import pandas as pd

In [ ]:
link = 'car.csv'

db = pd.read_csv(link)

4. Display the first 10 rows of the DataFrame.

In [ ]:
db.head(10)

  buying  maint  doors  persons lug_boot safety  class
0  vhigh  vhigh      2      2.0    small    low  unacc
1  vhigh  vhigh      2      2.0    small    med  unacc
2  vhigh  vhigh      2      NaN    small   high  unacc
3  vhigh  vhigh      2      2.0      med    low  unacc
4  vhigh  vhigh      2      2.0      med    med  unacc
5    NaN  vhigh      2      2.0      med   high    NaN
6  vhigh  vhigh      2      2.0      big    low  unacc
7  vhigh  vhigh      2      2.0      big    NaN  unacc
8  vhigh  vhigh      2      2.0      big   high  unacc
9  vhigh    NaN      2      4.0    small    low  unacc

5. Display the data types of each column in the DataFrame using the info() method.

In [ ]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1727 non-null   object
 1   maint     1727 non-null   object
 2   doors     1728 non-null   int64
 3   persons   1151 non-null   float64
 4   lug_boot  1728 non-null   object
 5   safety    1727 non-null   object
 6   class     1727 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 94.6+ KB

6. Replace the missing values appropriately.

In [ ]:
db.fillna(value={
    'buying': '---',
    'maint': '---',
    'doors': round(db.doors.mean()),
    'persons': round(db.persons.mean()),
    'lug_boot': '---',
    'safety': '---',
    'class': '---'
}, inplace=True)

7. Count the number of distinct unique values for buying, maint, doors, persons, lug_boot, safety, and class.

In [ ]:
# db['buying'].unique()
# db['buying'].unique().sum()

db['buying'].nunique()

5

In [ ]:
db['maint'].nunique()

5

In [ ]:
db['doors'].nunique()

4

In [ ]:
db['persons'].nunique()

3

In [ ]:
db['lug_boot'].nunique()

3

In [ ]:
db['safety'].nunique()

4

In [ ]:
db['class'].nunique()

5

In [ ]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   int64
 3   persons   1728 non-null   float64
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   class     1728 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 94.6+ KB

8. Convert the object columns into category columns wherever appropriate.

In [ ]:
db[['buying', 'maint', 'lug_boot', 'safety', 'class']] = db[['buying', 'maint', 'lug_boot', 'safety', 'class']].astype('category')

9. Finally, display the data types of each column in the DataFrame.

In [ ]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   category
 1   maint     1728 non-null   category
 2   doors     1728 non-null   int64
 3   persons   1728 non-null   float64
 4   lug_boot  1728 non-null   category
 5   safety    1728 non-null   category
 6   class     1728 non-null   category
dtypes: category(5), float64(1), int64(1)
memory usage: 36.5 KB